<h1>Edit Product</h1>

<% @title="Edit Product" %>
<p><%= @message%></p>
<% if @explain
	@explain.each do |message| %>
      
        <p><%= message %></p>
              
	<% end %>
<% end %>
<br>
<% @title = "Edit Product" %>

<div id="edit_prod">
	<form action="/products/<%= @product.id %>" method="post">
		<input type="hidden" name="_method" value="put">
		Product name:
		<input type="text" name="name" value="<%= @product['name'] %>"/><br/>
		Description:
		<textarea name="description" value="<%= @product['description']%>"><%= @product['description']%></textarea><br/>
		Category:
		<input type="text" name="category" value="<%= @category %>"><br> 
		Price:
		<input type="number" step="any" min="0" name="pricing" value="<%= @product['pricing']%>"/><br/>
		<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
		
		<input type= "submit" value = "Update Record" id="button" />
	</form>
</div>

<div id="categories">
	<h3>Available Categories:</h3>
	<% @categories.each { |value| %>
			<p><%= value.name %><p> 
		<% } %>
<br><br>
<a href= "/products" >Back to Dashboard</a>
</div>

