<h1>New Product</h1>


<p><%= @message%></p>
<% if @explain
	@explain.each do |message| %>
      
        <p><%= message %></p>
              
	<% end %>
<% end %>
<br>
<% @title = "Add a Product" %>
<p>Create a new product:</p>


<%= form_for @product, url: {action: "create"} do |f| %>
	<%= f.label :name, "Product name" %>
	<%= f.text_field :name %><br/>
	<%= f.label :category_id, "Product category" %>
	<%= f.collection_select(:category_id, Category.all, :id, :name) %>
	
		<br/>	
	<%= f.label :description, "Description" %>
	<%= f.text_area :description, size: "60x12" %><br/>
	<%= f.label :pricing, "Price" %>
	<%= f.number_field :pricing, options: {:min =>0, :step=>'any'} %><br/>
	<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
	
	<%= f.submit "Create" %>
<% end %>

<td><a href= "/products" >Home</a></td>